// Primary Colors
$benefit-pink: #ff7380;
$pink: #fa3468;
$white: #fff;

// Global textual link color.
$link-color: $pink;

// Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%);

// Font family stack declarations.
$sans-serif-font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
$script-font-family: "Sign Painter Script", cursive;

$base-font-size: 16px;
$base-font-size-button: 26px;
$base-font-weight: 400;
$base-line-height: 1.4;
$base-line-height-button: 64px;

@mixin border-radius($radius) {
    border-radius: $radius;
}

// Font-smoothing.
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

// Script mixin
@mixin script-font {
    font-family: $script-font-family;
    letter-spacing: 0;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    @include font-smoothing(on);
}


h1 {
    color: #241332;
    font: 24px $sans-serif-font-family;
    margin: 0 auto;
}

h2 {
    color: #676767;
    font: 13px $sans-serif-font-family
}


.button {
    @include border-radius(16px);
    cursor: pointer;
    background-color: $benefit-pink;
    border: none;
    color: $white;
    font-size: $base-font-size-button;
    @include script-font;
    line-height: $base-line-height-button;
    font-weight: normal;
    height: 64px;
    padding: 0 40px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
    display: inline;
    margin: 0 auto;
    margin-left: -25%; //centers the image
    height: 100%;
    width: auto;
}

.results-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}

.result {
    text-align: center;
    font-size: 32px;
    position: absolute;
    overflow: scroll;

    img {
        width: 64px;
        height: 64px;
    }
}

.product-details {

}

.app {
    width: 100%;
    height: 100%;

}



#interactive {
    width: 100%;
    height: 100%;
}


